<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        Email: <input type="email" name="email"><br>
        Birthday: <input type="date" name="birthday"><br>
        State: <input type="text" name="state"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>