<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <h1>Register</h1>
    <div id="form"> 
        <form method="post">
            <label>
                Username:
                <input id="entry" type="text" name="username">
            </label><br/>
            <label>
                Password:
                <input id="entry" type="password" name="password">
            </label><br/>
            <label>
                Email:
                <input id="entry" type="email" name="email">
            </label><br/>
            <label>
                Birthday:
                <input id="entry" type="date" name="birthday">
            </label><br/>
            <label>
                State:
                <input id="entry" type="text" name="state">
            </label><br/>
            <input id="submit" type="submit" value="Register">
        </form>
    </div>
</body>
</html>