body {
    background-color: gray;
}

h1 {
    color: #03afff;
    text-align: center;
    font-size: 4em;
}

form {
    line-height: 2;
    text-align: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

input[type="submit"] {
    background-color: #03afff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    box-shadow: 0 0 5px #0199e0f4, 0 0 15px #0199e0f4, 0 0 25px #0199e0f4, 0 0 100px #0199e0f4;
}
